/* --------------- System Tabs  --------------- */


#block-proboci-local-tasks ul {
  padding: 0px;
}

#block-proboci-local-tasks ul li a {
  color: #FFFFFF;
  background-color: #440027;
  border-color: #e5d6df;
  border-style: solid solid none solid;
  border-width: 1px;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  padding: 0 10px 3px;
  text-shadow: 0 1px 0 #000000;
}
#block-proboci-local-tasks ul li.is-active a {
  background-color: #fff;
  border: 1px solid #bbb;
}

@media screen and (max-width: 37.5em) { /* 600px */
  #block-proboci-local-tasks ul {
    border-bottom: 1px solid #bbb;
  }
  #block-proboci-local-tasks ul li {
    display: block;
    margin: 0;
  }
  #block-proboci-local-tasks ul li a {
    padding: 5px 10px;
  }
  #block-proboci-local-tasks ul li.is-active a {
    border-bottom: none;
  }
}

@media screen and (min-width: 37.5em) { /* 600px */
  .tabs ul.primary {
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    padding: 0 3px;
    margin: 0;
    overflow: hidden;
    border: none;
    background: transparent url(../../images/tabs-border.png) repeat-x left bottom;
    white-space: nowrap;
  }
  #block-proboci-local-tasks ul li {
    display: block;
    float: left;
    vertical-align: bottom;
    margin: 0 5px 0 0; /* LTR */
  }
  [dir="rtl"] .tabs ul.primary li {
    margin: 0 0 0 5px;
    float: right;
  }
  #block-proboci-local-tasks ul li a {
    float: left; /* not LTR */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  #block-proboci-local-tasks ul li.is-active a {
    border-bottom: 1px solid #fff;
  }
}

.block-system-main-block {
  clear: both;
  margin-top: 0px;
  padding: 10px
}

.login-form__wrapper {
  padding: 20px;
  margin-top: 0px;
}

#block-proboci-content h4 {
  margin: 0px;
}

#edit-pass--description,
#edit-name--description {
  font-size: 9pt;
  font-weight: normal;
}

.form-item-name {
  margin-bottom: 20px;
}

.form-item-pass,
.form-item-name  {
  font-weight: bold;
}

.login-form__submit {
  text-align: right;
}

input#edit-name,
input#edit-pass {
  width: 100%;
}

.messages--error a {
  color: #b5d556 !important;
}

#block-proboci-breadcrumbs ol {
  list-style: none;
  padding: 0px;

}

#block-proboci-breadcrumbs ol:before {
  float: left;
  content: "You Are Here:";
  margin-right: 10px;
}

#block-proboci-breadcrumbs ol li {
  float: left;
}

#block-proboci-breadcrumbs ol li:after {
  content: "   >   ";
  margin: 0px 10px;
}
#block-proboci-breadcrumbs ol li:last-child:after {
  content: "";
  clear: both;
}